{% extends 'GtPublicBundle:Layouts:global.html.twig' %}

{% block content %}

    <h2>Hot Topics for 15 MAy, 2014</h2>

    <div class="row">

    <div class="col-md-12">

    <h3>Laravel RESTful API</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

    </div>

	<div class="col-md-12">

	<h3>Laravel RESTful API</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

	</div>

	<div class="col-md-12">

	<h3>Laravel RESTful API</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

	</div>

	<div class="col-md-12">

	<h3>Laravel RESTful API</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

	</div>

    </div>

    <h2>Fresh Topics</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<div class="col-md-12">

	<h3>Laravel RESTful API</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia.</p>

	</div>

{% endblock %}

{% block sidebar %}



{% endblock %}
