<form class="form-horizontal">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailaddress">Email Address</label>
  <div class="col-md-5">
  <input id="emailaddress" name="emailaddress" type="text" placeholder="youremail@gmail.com" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Username">Username</label>
  <div class="col-md-5">
  <input id="Username" name="Username" type="text" placeholder="SuperAwesomeDude" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-5">
    <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordverification">Password Verification</label>
  <div class="col-md-5">
    <input id="passwordverification" name="passwordverification" type="password" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="signup" name="signup" class="btn btn-primary">Signup</button>
  </div>
</div>

</form>
