<div id="footer" class="container-fluid">
<div class="container">
<div class="row">

    <footer>

        <p>Group Topics is built by members of User Groups for User Groups.</p>

    </footer>

</div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
