{% include 'GroupTopicsFrontendBundle:Layouts:header.html.twig' %}

{% include 'GroupTopicsFrontendBundle:Layouts:navigation.html.twig' %}

<div id="introduction" class="container-fluid">
<div class="container">

    {# NOT REQUIRED - HOMEPAGE ONLY #}
    {% block hero %}{% endblock %}


</div>
</div>

<div class="row">
<div class="container">


      {% block content %}{% endblock %}


</div>
</div>


{% include 'GroupTopicsFrontendBundle:Layouts:footer.html.twig' %}
