<div id="navigation" class="container-fluid">

<div class="container">

<div class="col-md-12">

    <div id="search" class="col-md-7">

        <input type="search" class="form-control col-md-12" id="search" placeholder="Search topics...">

    </div>

    <div id="menu" class="col-md-5">

    <p class="navbar-text pull-right">

        <a href="/app_dev.php" class="navbar-link">Home</a>
        <a href="/app_dev.php/about" class="navbar-link">About</a>
        <a href="/app_dev.php/signup" class="navbar-link">Signup</a>
        <a href="/app_dev.php/login" class="navbar-link">Login</a>

    </p>

    </div>

</div>

</div>

</div>
