{% extends 'GroupTopicsFrontendBundle:Layouts:global.html.twig' %}

{% block hero %}

{# <div class="row">

    <div class="col-md-12" style="background: url(images/IMG_0667.jpg) no-repeat center center; min-height: 275px; background-cover: cover; margin-bottom: 42px;">

    </div>

</row> #}


<div class="row">

    <div id="introduction" class="col-md-8">

        <h1>Welcome to Group Topics.</h1>

        <p>One of our goals is to build a recommendation engine so it's important to be able to identify and track groups that use the topics. Here is how the overall architecture looks in my mind. Need more content here to make it look professional, I almost added lorem ipsum copy just for space. Decided against that and just wrote this, now I can’t stop typing until I reach to copy size I am looking for. Ok, I think thats enough.</p>

    </div>

    <div id="sponsor">

        <h1>May Sponsor</h1>

        <p><img src="http://www.sdphp.org/wp-content/themes/sdphp/assets/img/sd-php-logo-200px.png" alt=""></p>

        <p>"Special thanks to <a href="www.sdphp.org">San Diego PHP</a> User Group for sponsoring Group Topics this month!"</p>

    </div>

</div>


{% endblock %}

{% block content %}

<div class="col-md-6">

    <h2><span class="glyphicon glyphicon-fire"></span> Hot Topics</h2>

    <div class="row">

        {% for i in 0..3 %}
        <div class="topic">

        <h3>Laravel RESTful API</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

        </div>
        {% endfor %}

    </div>

</div>


<div class="col-md-6">

    <h2><span class="glyphicon glyphicon-fire"></span> Fresh Topics</h2>

    <div class="row">

     	{% for i in 0..3 %}
         <div class="topic">

         <h3>Laravel RESTful API</h3>

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam omnis cum placeat voluptates expedita quam. Voluptas, quisquam, voluptatum, maiores quo nemo placeat provident quia reiciendis accusantium dolore dolores sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, repudiandae odit fugiat iusto quis aut voluptate blanditiis voluptatum! Pariatur, ullam quos vitae perspiciatis quo numquam repudiandae reprehenderit nobis recusandae tempore.</p>

         </div>
         {% endfor %}

    </div>

</div>

{% endblock %}

{% block sidebar %}



{% endblock %}
